@use "../../styles/partials/variables.scss" as *;



.friend-item {
    margin-right: 10px;
    cursor: pointer;
}

.friend-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid $font-color;
    transition: border-color 0.3s ease;
    margin-right: -1.25rem;
}

.friend-item.selected img {
    border-color: $hover-color;

}


input[type="time"]::-webkit-calendar-picker-indicator {
    background-color: transparent;
    color: #ffffff;
    filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(134deg) brightness(107%) contrast(98%);
    cursor: pointer;
    font-size: 2rem;
}



.schedule {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: (7.5%);
    background-color: $background-color;

    &__movie {
        &-details {
            &--container {
                width: 100%;
                height: 10vh;
                background-color: gray;
                margin-bottom: 2rem;
            }
        }

        &-poster {
            width: 80%;
        }
    }

    &__title {
        color: $font-color;
        font-size: 2rem;
        font-weight: 500;
    }

    &__form {

        &--label {
            color: $font-color;
            display: block;
            padding-top: .5rem;
            padding-bottom: .5rem;
            font-size: 1.5rem;

            &-participents {
                font-weight: 400;
                font-size: 1.5rem;
            }
        }

        &--date,
        &--time {
            background-color: transparent;
            color: $font-color;
            font-size: 1.5rem;
        }

        &--date-container {
            display: flex;
            margin-right: 1rem;
            width: auto;
            overflow-y: hidden;
            overflow-x: auto;
            white-space: nowrap;
        }

        &-friends--container {
            display: flex;
        }


        &--button {
            background-color: $font-color;
            color: $background-color;
            width: 90%;
            height: 4rem;
            font-size: 1.5rem;
            border-radius: 1rem;
            font-weight: 600;
            cursor: pointer;
            margin-left: 5%;

        }
    }

}