@use "./fonts.scss" as *;


$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$black: #1E1E24;
$red: #92140C;
$white: #FFF8F0;
$yellow: #FFCF99;
$blue: #111D4A;

// $row-hover: rgba(46, 102, 229, 0.07);


// $text-family: Arial, sans-serif;
// $text-bold: 600;
// $text-regular: 400;

// :export {
//     primaryText: $primary-text;
//     secondaryText: $secondary-text;
// }