@use "./fonts.scss" as *;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$background-color: #111d4a;
$font-color: #fff8f0;
$hover-color: #92140c;
$button-color: #ffcf99;
$alt-color: #1e1e24;


$text-family: Arial, sans-serif;
$text-bold: 600;
$text-regular: 400;

// :export {
//     primaryText: $primary-text;
//     secondaryText: $secondary-text;
// }