@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/resets.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/mixins.scss" as *;



.confirmation {


    max-height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $blue;
    z-index: 3;


    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;


    &__title {
        @include heading-1;
        color: $white;
        font-size: 1.75rem;
        line-height: 1.5;
    }

    &__image {
        height: 17rem;
        margin-left: 1rem;
    }

    &__paragraph {
        @include heading-4;
        font-weight: 300;
        color: $white;
        text-align: center;
        font-size: 1.25rem;
        line-height: 1.5;
        margin-top: .5rem;
        width: 75vw;

        &--friends {
            @include heading-4;
            font-weight: 800;
            display: inline;
            display: flex;
            justify-content: center;

            &-space {
                margin-left: 1rem;
            }
        }
    }

    &__time {
        &-container {
            @include heading-3;
            font-weight: 400;
            display: flex;
            font-size: 1.75rem;
            width: 80vw;
            justify-content: center;
            margin-top: 2rem;
            color: $white;
        }

        &-time {
            width: 50%;
            text-align: center;
        }

        &-movie {
            width: 50%;
            border-left: 3px solid $yellow;
            text-align: center;
        }
    }

    &__date {
        @include heading-4;
        color: $grey;
        padding-top: 1.5rem;
        font-size: 1.5rem;

    }


    &__button {
        background-color: $yellow;
        color: $blue;
        min-width: 60vw;
        height: 3rem;
        border-radius: 1rem;
        text-align: center;
        cursor: pointer;
        margin-top: 2rem;
        font-size: 1.25rem;
    }

}