@use "../../styles/partials/variables.scss" as *;


.confirmation {


    max-height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $blue;
    z-index: 3;


    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;


    &__title {
        color: $white;
        font-size: 1.75rem;
        line-height: 1.5;
    }

    &__image {
        height: 17rem;
        margin-left: 1rem;
    }

    &__paragraph {
        color: $white;
        text-align: center;
        font-size: 1.25rem;
        line-height: 1.5;
        margin-top: .5rem;
        width: 75vw;

        &--friends {
            font-weight: 800;
            display: inline;
            display: flex;
            justify-content: center;

            &-space {
                margin-left: 1rem;
            }
        }
    }

    &__button {
        background-color: $yellow;
        color: $blue;
        min-width: 60vw;
        height: 3rem;
        border-radius: 1rem;
        text-align: center;
        cursor: pointer;
        margin-top: 2rem;
        font-size: 1.25rem;
    }

}