@import '../../styles/partials/variables.scss';

.home {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $blue;

    &__title {
        color: $white;
    }

    &__nav {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin: .5rem;
    }

    &__profileImg {
        border: 3px solid $yellow;
        border-radius: 50%;
        height: 50px;
    }

    &__button-notification,
    &__button-message {
        fill: FFFFFF;
        margin: .5rem;
        &:hover {
            fill: orange;
            cursor: pointer;
            transform: scale(1.2);
        }
    }

    &__friends {
        display: flex;
        flex-direction: column;
        color: $white;
        width: 100%;
    }

    &__activity {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center
    }

    &__activityTitle {
        font-size: .75rem;
        margin: 0 0 .5rem .5rem;
    }

    &__leftSection,
    &__rightSection {
        margin: 0 1rem;
    }
    
    &__leftSection {
        display: flex;

    }
    &__leftSection-background {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        width: 130px;
        height: 40px;
    }

    &__rightSection-background {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, rgb(213, 129, 50), #d8a08b);
        box-shadow: 0 0 5px 1px rgba(244, 225, 192, 0.7);
        border-radius: 25px;
        width: 140px;
        height: 51px;
        padding: 0 1px 0 7px;
    }

    &__profileImg-left{
        height: 50px;
        border-radius: 50%;
        border: 2px solid $yellow;
        margin: .25rem;
        &:hover {
            cursor: pointer;
        }
    }

    &__userProfile {
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
    }

    &__userName {
        font-size: .5rem;
    }

    &__profileImg-right {
        height: 50px;
        border-radius: 50%;
        border: 2px solid $red;
        margin: 0 0 0 -8px;
        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }


    &__mainTitle {
        margin: 1rem 0 0 0;
        color: $white;
    }

   &__movieSection {
        display: flex;
        flex-direction: row;
        align-content: center;
        width: 95vw;
        height: 357px; 
        overflow-y: auto;
        margin: 0;
   }
   &__movie-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 330px;
    }

   &__moviePosters {
        position: relative;
        height: 300px;
        width: 200px;
        margin: .25rem;
        border-radius: 10px;
   }

   &__genre {
        position: relative;
        top: 235px;
        z-index: 1;
        font-size: .75rem;
        color: $white;
   }

   &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        backdrop-filter: blur(4px);
        position: relative;
        top: -60px;
        width: 100%;;
   }

   &__save,
   &__share {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
   }

   &__button-save,
   &__button-share {
        width: 30px;
        background-color: transparent;
        color: $white;
        border: none;
   }

   &__watchNow {
        display: flex;
        justify-content: center;
        background-color: transparent;
        border: 3px solid $yellow;
        border-radius: 18px;
        padding: .5rem 0;
        width: 100px;
        &:hover {
            background-color: $yellow;
            border: 1px solid $yellow;
        }
   }

   &__playIcon {
    fill: FFFFFF;
    &:hover {
        fill: orange;
        cursor: pointer;
        transform: scale(1.2);
    }
   }

   &__button-watchNow {
        background-color: transparent;
        color: $white;
        &:hover {
            cursor: pointer;
        }
   }

   &__recentlyWatched {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95vw;
        height: 360px; 
        overflow-y: auto;
        margin: 0;
    }

   &__popularMovies {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
   }

   &__sectionTitle {
        font-size: 1rem;
        color: $white;
   }

   &__button-seeAll {
        background-color: transparent;
        border: none;
        color: $yellow;
        font-size: .75rem;
        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
   }
}